@tailwind base;
@tailwind components;
@tailwind utilities;

/* Pretendard 폰트 */
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');

:root {
  --foreground-rgb: 61, 64, 91;
  --background-rgb: 244, 241, 222;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, system-ui, Roboto, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
